/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #edb066; */
  background-image: linear-gradient(to bottom right, orange, white);
}

/* Login/Signup Page */
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h2 {
  margin: auto;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 86%;
  padding: 10px;
  background: #edb066;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #e79a3d;
}

.toggle {
  margin-top: 10px;
  color: #db8010;
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-bottom: -20px;
}
